{% extends "base.html" %}

{% block content %}

<h1>Welcome {{ user }} -- Admin Dashboard</h1>

<h2>Assessment Status:</h2>
<table>
<tr><th>Assignments in-progress or complete:</th><td></td></tr>
{% for a in current_assignments %}
{% with a.complete|add:a.pending as total %}
<tr>
  <td><strong>{{ a.query }}</strong>
        assigned to {{ a.assessor }}
        on {{ a.created_date }}</td>
  <td>
    {% if total > 0 %}
      <img src="/site_media/00ff00.gif" height="20px"
            width="{% widthratio a.complete total 500 %}px"
            border="0"
            style="border-width: 0px; border-style: none;"/>
      <img src="/site_media/0000ff.gif" height="20px"
            width="{% widthratio a.pending total 500 %}px"
            border="0"
            style="border-width: 0px; border-style: none;"/>
     {% endif %}
      {{ a.complete }} / {{ total }}<br/></td>
</tr>
{% endwith %}
{% endfor %}
<tr><th>Assignments pending:</th><td></td></tr>
{% for q in pending_assignments %}
<td><strong>{{ q }}</strong></td>
<td><img src="/site_media/ff0000.gif" height="20px"
        width="500px" border="0"
        style="border-width: 0px; border-style: none;"/>
    {{ q.remaining_assignments }}</td>
{% endfor %}
</table>

<p><a href="{% url upload_data %}">Upload data</a></p>
<p><a href="{% url download_data %}">Download data</a></p>
{% endblock %}

