{% extends "base.html" %}

{% block content %}

<h1>Welcome {{ user }} -- Admin Dashboard</h1>

<h2>Queries:</h2>
<table>
<tr><th>Query</th>
    <th>Remaining Assignments</th>
    <th>Assessor</th>
    <th>Assigned On</th>
    <th>Complete</th></tr>
{% for q in queries|dictsort:'remaining_assignments' %}
<tr>
<td><strong>{{ q.query|truncatewords:7 }}</strong></td>
  <td>{{ q.remaining_assignments }}</td>
</tr>

{% for a in q.assignments %}
<tr><td></td><td></td>
  <td>{{ a.assessor }}</td>
  <td><a href="{% url assignment_detail a.id %}">{{ a.created_date }}</a></td>
  <td>{{ a.complete }} / {{ a.complete|add:a.pending }}</td></tr>
{% endfor %}
{% endfor %}
</table>

<p><a href="{% url upload_data %}">Upload data</a></p>
<p><a href="{% url download_data %}">Download data</a></p>
{% endblock %}

