{% extends "base.html" %}

{% block content %}

<h1>Welcome {{ user }}</h1>

{% if pending_assignments|length > 0 %}
  <h2>Incomplete Assignments: </h2>
    <table class="info">
  <thead>
    <tr>
      <th>Query</th>
      <th>Assigned On</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  {% for a in pending_assignments %}
    <tr>
    <td> [{{ a.assignment.query.text }}] </td>
    <td> {{ a.assignment.created_date }} </td>
    <td> <a href="{% url assignment_detail a.assignment.id %}">
    {{ a.pending_assessments }}
      pending assessment{{ a.pending_assessments|pluralize }}
    </a> </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
{% endif %}

{% if available_query %}
<h2>Assess a new query?</h2>
<form action="{% url select_query_confirm available_query.id %}" method="post">
<input class="bigbutton" type="submit" value="Yes!" />
</form>
{% endif %}

{% if complete_assignments|length > 0 %}
<h2>Complete Assignments:</h2>
    <table class="info">
  <thead>
    <tr>
      <th>Query</th>
      <th>Assigned On</th>
    </tr>
  </thead>
  <tbody>
  {% for a in complete_assignments %}
    <tr>
    <td><a href="{% url assignment_detail a.id %}">[{{ a.query.text }}]</a></td>
    <td> {{ a.created_date }} </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
{% endif %}

<h2>Comments?</h2>
<p>Feel free to leave us any comments about the assessment task:
<form action="{% url comment %}" method="post">
{{ comment_form.as_p }}
<input type="submit" value="Submit" />
</form>

{% endblock %}

