{% extends "base.html" %}

{% block content %}

<h1>Welcome {{ user }}</h1>

{% if assignments|length > 0 and queries|length > 0 %}
{% if assignments|length > 0 %}
  <h2>Current Assignments:</h2>
  <table class="info">
  <thead>
    <tr>
      <th>Query</th>
      <th>Assigned On</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  {% for a in assignments %}
    <tr>
    <td> [{{ a.query.text }}] </td>
    <td> {{ a.created_date }} </td>
    <td> <a href="{% url assignment_detail a.id %}">{{ a.status }}</a> </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
{% else %}
  <h2>No assignments yet.  Please select a new query below.</h2>
{% endif %}

{% if available_queries|length > 0 %}
<h2>Available Assignments:</h2>
<table class="info">
<thead>
  <tr><th>Query</th></tr>
</thead>
<tbody>
{% for q in available_queries.all %}
  <tr>
  <td><a href="{% url select_query_confirm q.id %}">[{{ q.text }}]</a></td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}
{% else %}
<h1>No queries in the system yet!</h1>
{% endif %}

<h2>Comments?</h2>
<p>Feel free to leave us any comments about the assessment task:
<form action="{% url comment %}" method="post">
{{ comment_form.as_p }}
<input type="submit" value="Submit" />
</form>

{% endblock %}

