{% extends "base.html" %}

{% block current_navelement %}
<div class="navelement">
<a href="{% url assignment_detail assignment.id %}">[{{assignment.query.text}}] {{pending_assessments}} assessment{{ pending_assessments|pluralize }} remaining</a></div>
{% endblock %}

{% block content %}
<script>
function swapFrame(id, newUrl) {
  var oldframe = document.getElementById(id);
  var newframe = document.createElement("iframe");
  newframe.src = newUrl;
  newframe.id = id;
  var par = oldframe.parentNode;
  par.removeChild(oldframe);
  par.appendChild(newframe);
}

function pageY(elem){
  return elem.offsetParent ? (elem.offsetTop + pageY(elem.offsetParent)) : elem.offsetTop;
}

buffer = 320;

function resizeElem(id) {
  var h = document.documentElement.clientHeight - buffer;
  document.getElementById(id).style.height = h + "px";
}

function resizeFrames() {
  resizeElem('leftframe');
  resizeElem('rightframe');
}

window.onload = resizeFrames;
window.onresize = resizeFrames;

</script>

<h1>Assessment for [{{assignment.query.text}}]</h1>
<div class="note">
<p><strong>Information need statement</strong>:
(<a href="{% url information_need assignment.id %}?next={{ request.path }}">update</a>)</p>
<p>{{ assignment.description }}</p>
<p>{{ assignment.narrative }}</p>
</div>

<form action="." method="post">
<div class="inline">
{{ form.as_p }}
</div>
{% if reason_form %}
<div class="inline">
<p><strong>Why?</strong></p>
{{ reason_form.as_p }}
</div>
{% endif %}
{% for value, name in submit_options %}
<input type="submit" value="{{ value }}" name="{{ name }}"/>
{% endfor %}
</form>

<table class="info">
<tr>
<th class="{% if docpair.left_fixed %}fixed{% endif %}"><a href="javascript:swapFrame('leftframe', '{{ docpair.left_doc_url }}');">
Left Document ({{ docpair.left_doc }})</a></th>
<th class="{% if docpair.right_fixed %}fixed{% endif %}">
<a href="javascript:swapFrame('rightframe', '{{ docpair.right_doc_url }}');">
Right Document ({{ docpair.right_doc }})
</a>
</th>
</tr>
<tr><td class="framecontainer" id="leftcontainer">
<!-- {{ docpair.left_doc_url }} -->
<iframe class="left"
  id="leftframe"
  src="{{ docpair.left_doc_url }}">
  Your browser doesn't support iframes.
</iframe>
</td>
<td class="framecontainer" id="rightcontainer">
<!-- {{ docpair.right_doc_url }} -->
<iframe class="right{% if docpair.right_fixed %},fixed{% endif %}"
  id="rightframe"
  src="{{ docpair.right_doc_url }}">
  Your browser doesn't support iframes.
</iframe>
</td></tr>
</table>

{% endblock %}

