{% extends "base.html" %}

{% block current_navelement %}
<div class="navelement">[{{assignment.query.text}}] assessment: {{ assignment.status }}</div>
{% endblock %}

{% block content %}

<h1>Details for query [{{assignment.query.text}}] assigned to {{assignment.assessor}}.</h1>

{% if assignment.description|length > 0 %}

<h2>Information Need Statement</h2>
<p>{{assignment.description}}</p>
<p>{{assignment.narrative}}</p>
<p><a href="{% url information_need assignment.id %}?next={% url assignment_detail assignment.id %}">Update</a>

{% if assignment.num_assessments_pending > 0 %}
  <h2>{{assignment.num_assessments_pending}} pending assessments</h2>
  <p><a href="{% url next_assessment assignment.id %}">
  {% if assignment.num_assessments_complete = 0 %}Get started
  {% else %}Continue assessing
  {% endif %}
  </a></p>
{% else %}
  <h2>You're done!  No more pending assessments for this query.</h2>
{% endif %}

{% if assignment.num_assessments_complete > 0 %}
  <h2>Complete assessments ({{assignment.num_assessments_complete}}):</h2>
  <ul>
    {% for assessment in assignment.assessments.all %}
    <li><a href="{% url assessment_detail assessment.id %}"> {{assessment}}</a></li>
    {% endfor %}
  </ul>
{% endif %}


{% else %}

<p>You must <a href="{% url information_need assignment.id %}?next={% url assignment_detail assignment.id %}">enter an information need statement</a> before beginning assessment.</p>

{% endif %}

{% endblock %}

